body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.kill{
    background : red;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    left: 0;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 2em;
}
